.input {
	border-radius: 3rem;
	border: 0 none;
	position: relative;
	width: 13rem;
	height: 2.5rem;
	display: inline-block;
	margin-bottom: 1rem;
}
.input,
textarea {
	background-color: rgba(255, 255, 255, 0.7);
	padding: 0.4rem 0.3rem 0.3rem 1rem;
	font-family: Roboto;
	font-size: 16px;
}
.input:active {
	border: 0 none;
	outline: 0 none;
}
