firebase-debug.log
firestore-debug.log
pubsub-debug.log
functions/yarn-error.log
node_modules
**.directory
.firebase

**.env

public/user
public/farmer
public/landing
public/driver
.idea
.DS_Store
functions/.runtimeconfig.json
functions/ui-debug.log
