.registerfield {
	width: 20em;
	font-size: larger;
	display: inline-flex;
	place-content: center;
}

.registercont {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.subscribe {
	display: flex;
	justify-content: space-evenly;
}

@media only screen and (max-width: 600px) {
	.registerfield {
		width: 100%;
		margin-bottom: 0.5em;
	}

	.registercont {
		display: block;
	}

	.subscribe {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.texthide {
		display: none;
	}
}
